# Preliminary Exploration Notebook

In [2]:
import pandas as pd
import numpy as np

In [3]:
school_data = pd.read_csv("data/CRDC 2015-16 School Data.csv", encoding = "ISO-8859-1")
school_layout = pd.read_csv("data/CRDC 2015-16 School Data Record Layout.csv", encoding = "ISO-8859-1")
school_data = school_data[school_data.SCH_GRADE_G09=='Yes']
school_data = school_data[school_data.SCH_GRADE_G10 == 'Yes']
school_data = school_data[school_data.SCH_GRADE_G11 == 'Yes']
school_data = school_data[school_data.SCH_GRADE_G12 == 'Yes']
school_data = school_data[school_data.JJ == 'No']
len(school_data)
school_data.reset_index(drop=True,inplace=True)

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (2,6,23,24,25,30,31,1828) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
school_data[school_data.LEA_STATE_NAME == 'ARKANSAS']

,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,SCH_NAME,COMBOKEY,JJ,SCH_GRADE_PS,SCH_GRADE_KG,...,SCH_FTESERVICES_PSY,SCH_FTESERVICES_SOC,SCH_JJTYPE,SCH_JJSYDAYS,SCH_JJHOURS,SCH_JJPART_LT15,SCH_JJPART_15T30,SCH_JJPART_31T90,SCH_JJPART_91T180,SCH_JJPART_OV180
1099,AR,ARKANSAS,500001,DEWITT SCHOOL DISTRICT,216,DEWITT HIGH SCHOOL,50000100216,No,No,No,...,0.0,0.0,-9,-9,-9,-9,-9,-9,-9,-9
1100,AR,ARKANSAS,500006,WARREN SCHOOL DISTRICT,1130,WARREN HIGH SCHOOL DISTRICT CONVERSION CHARTER,50000601130,No,No,No,...,1.0,1.0,-9,-9,-9,-9,-9,-9,-9,-9
1101,AR,ARKANSAS,500009,CORNING SCHOOL DISTRICT,191,CORNING HIGH SCHOOL,50000900191,No,No,No,...,0.0,0.0,-9,-9,-9,-9,-9,-9,-9,-9
1102,AR,ARKANSAS,500012,RIVERSIDE SCHOOL DISTRICT,1538,RIVERSIDE HIGH SCHOOL,50001201538,No,No,No,...,0.0,0.0,-9,-9,-9,-9,-9,-9,-9,-9
1103,AR,ARKANSAS,500016,MARMADUKE SCHOOL DISTRICT,691,MARMADUKE HIGH SCHOOL,50001600691,No,No,No,...,0.0,0.0,-9,-9,-9,-9,-9,-9,-9,-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339,AR,ARKANSAS,514140,WHITE HALL SCHOOL DISTRICT,1156,WHITE HALL HIGH SCHOOL,51414001156,No,No,No,...,0.0,0.0,-9,-9,-9,-9,-9,-9,-9,-9
1340,AR,ARKANSAS,514370,WONDERVIEW SCHOOL DISTRICT,1170,WONDERVIEW HIGH SCHOOL,51437001170,No,No,No,...,0.0,0.0,-9,-9,-9,-9,-9,-9,-9,-9
1341,AR,ARKANSAS,514400,WOODLAWN SCHOOL DISTRICT,1172,WOODLAWN HIGH SCHOOL,51440001172,No,No,No,...,0.0,0.0,-9,-9,-9,-9,-9,-9,-9,-9
1342,AR,ARKANSAS,514430,WYNNE SCHOOL DISTRICT,1176,WYNNE HIGH SCHOOL,51443001176,No,No,No,...,0.0,0.0,-9,-9,-9,-9,-9,-9,-9,-9
1343,AR,ARKANSAS,514490,YELLVILLE-SUMMIT SCHOOL DIST.,1178,YELLVILLE-SUMMIT HIGH SCHOOL,51449001178,No,No,No,...,0.0,0.0,-9,-9,-9,-9,-9,-9,-9,-9

In [5]:
school_data.head()

,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,SCH_NAME,COMBOKEY,JJ,SCH_GRADE_PS,SCH_GRADE_KG,...,SCH_FTESERVICES_PSY,SCH_FTESERVICES_SOC,SCH_JJTYPE,SCH_JJSYDAYS,SCH_JJHOURS,SCH_JJPART_LT15,SCH_JJPART_15T30,SCH_JJPART_31T90,SCH_JJPART_91T180,SCH_JJPART_OV180
0,AL,ALABAMA,100002,Alabama Youth Services,1876,Alabama Youth Services,10000201876,No,No,No,...,0.0,0.0,-9,-9,-9,-9,-9,-9,-9,-9
1,AL,ALABAMA,100005,Albertville City,871,Albertville High Sch,10000500871,No,No,No,...,0.0,0.0,-9,-9,-9,-9,-9,-9,-9,-9
2,AL,ALABAMA,100006,Marshall County,872,Asbury Sch,10000600872,No,No,No,...,0.0,0.0,-9,-9,-9,-9,-9,-9,-9,-9
3,AL,ALABAMA,100006,Marshall County,878,Douglas High Sch,10000600878,No,No,No,...,0.0,0.0,-9,-9,-9,-9,-9,-9,-9,-9
4,AL,ALABAMA,100006,Marshall County,883,Kate D Smith DAR High Sch,10000600883,No,No,No,...,0.0,0.0,-9,-9,-9,-9,-9,-9,-9,-9

In [6]:
school_layout[school_layout["Field_Name"] == "SCH_JJHOURS"]["Field_Description"]

1830    Justice Facility Educational Program Hours per...
Name: Field_Description, dtype: object

In [7]:
school_layout

,Order,Excel_Column_Finder,Field_Name,Field_Description,Module
0,1,A,LEA_STATE,District State Abbreviation,Identification
1,2,B,LEA_STATE_NAME,District State Name,Identification
2,3,C,LEAID,7 Digit LEAID District Identification Code,Identification
3,4,D,LEA_NAME,District Name,Identification
4,5,E,SCHID,5 Digit School Identification Code,Identification
...,...,...,...,...,...
1831,1832,BRL,SCH_JJPART_LT15,Students who participated in credit granting e...,Justice Facility
1832,1833,BRM,SCH_JJPART_15T30,Students who participated in credit granting e...,Justice Facility
1833,1834,BRN,SCH_JJPART_31T90,Students who participated in credit granting e...,Justice Facility
1834,1835,BRO,SCH_JJPART_91T180,Students who participated in credit granting e...,Justice Facility
1835,1836,BRP,SCH_JJPART_OV180,Students who participated in credit granting e...,Justice Facility

**Note:**  For cell values in the school data frame, negative numbers have special meanings as follows:  
-2 means small cell values,  
-5 means there is an action plan (next survey),  
-6 Force Certified (missing data),  
-7 System error,  
-8 EDFacts Missing Data,  
-9 means not applicable / skipped

In [8]:
# print(len(school_data[school_data["LEA_STATE_NAME"] == "CALIFORNIA"]))
nul_vals = [-2,-5,-6,-7,-8,-9, '-2', '-5', '-6','-7','-8','-9']
for (columnName, columnData) in school_data.iteritems():
    continue
     #print(round(len(school_data[columnName][school_data[columnName].isin(nul_vals)])/school_data.shape[0], 3), columnName);

In [9]:
nul_vals = [-2,-5,-6,-7,-8,-9, '-2', '-5', '-6','-7','-8','-9']
# for (columnName, columnData) in school_data.iteritems():
column = "SCH_JJTYPE"
print(school_data[column].unique())
#print(school_data[column][~school_data[column].isin(nul_vals)])

[-9 '-9']

In [10]:
def percentage_of_students(school_layout, school_data,layout_a_start,layout_a_stop):
    enrollment = []
    np.seterr(divide = 'ignore')
    enroll_categories = range(layout_a_start,layout_a_stop+1,1)
    enrollment_vals = np.empty([len(enroll_categories)*len(school_data)])
    enrollment_vals.shape = [len(enroll_categories),len(school_data)]
    for i in range(len(enroll_categories)):
        j = enroll_categories[i]
        print(school_layout['Field_Description'][school_layout['Order']==j].values[0])
        enrollment.append(str(school_layout['Field_Name'][school_layout['Order']==j].values[0]))
        nul_bool = school_data[enrollment[-1]].isin(nul_vals)
        value = np.array(school_data[enrollment[-1]])
        value[nul_bool] = 0
        if i == 0:
            enrollment_vals[0] = value
        else:
            enrollment_vals[i] = value
    return(enrollment_vals)


enrollment = percentage_of_students(school_layout,school_data,56,71)
suspensions = percentage_of_students(school_layout,school_data,822,837)
print(len(enrollment),len(suspensions))
suspensions = np.array(suspensions, dtype=float)
percentages = suspensions/enrollment
percentages = np.nan_to_num(percentages)

print('\n\nPERCENT GROUP SUSPENDED:\n',percentages*100)
print('\n\nAVERAGE NUMBER OF STUDENTS SUSPENDED IN AN AVERAGE SCHOOL:\n',np.round(np.mean(suspensions,axis=1),3))
print('\n\nAVERAGE NUMBER OF STUDENTS IN AN AVERAGE SCHOOL:\n',np.round(np.mean(enrollment,axis=1),3))
print('\n\nAVERAGE PERCENTAGE OF STUDENTS SUSPENDED IN AN AVERAGE SCHOOL:\n',100*np.round(np.mean(suspensions,axis=1)/np.mean(enrollment,axis=1),3))

Overall Student Enrollment: Hispanic Male
Overall Student Enrollment: Hispanic Female
Overall Student Enrollment: American Indian/Alaska Native Male
Overall Student Enrollment: American Indian/Alaska Native Female
Overall Student Enrollment: Asian Male
Overall Student Enrollment: Asian Female
Overall Student Enrollment: Native Hawaiian/Pacific Islander Male
Overall Student Enrollment: Native Hawaiian/Pacific Islander Female
Overall Student Enrollment: Black Male
Overall Student Enrollment: Black Female
Overall Student Enrollment: White Male
Overall Student Enrollment: White Female
Overall Student Enrollment: Two or More Races Male
Overall Student Enrollment: Two or More Races Female
Overall Student Enrollment: Calculated Male Total
Overall Student Enrollment: Calculated Female Total
Students without disabilities who received only one out-of-school suspension: Hispanic Male
Students without disabilities who received only one out-of-school suspension: Hispanic Female
Students without disabilities who received only one out-of-school suspension: American Indian/Alaska Native Male
Students without disabilities who received only one out-of-school suspension: American Indian/Alaska Native Female
Students without disabilities who received only one out-of-school suspension: Asian Male
Students without disabilities who received only one out-of-school suspension: Asian Female
Students without disabilities who received only one out-of-school suspension: Native Hawaiian/Pacific Islander Male
Students without disabilities who received only one out-of-school suspension: Native Hawaiian/Pacific Islander Female
Students without disabilities who received only one out-of-school suspension: Black Male
Students without disabilities who received only one out-of-school suspension: Black Female
Students without disabilities who received only one out-of-school suspension: White Male
Students without disabilities who received only one out-of-school suspension: White Female
Students without disabilities who received only one out-of-school suspension: Two or More Races Male
Students without disabilities who received only one out-of-school suspension: Two or More Races Female
Total number of students without disabilities who received only one out-of-school suspension: Calculated Male Total
Total number of students without disabilities who received only one out-of-school suspension: Calculated Female Total
16 16


PERCENT GROUP SUSPENDED:
 [[ 0.          5.38461538  0.         ...  0.          0.
   0.        ]
 [ 0.          0.90497738  2.10526316 ...  0.          0.
   0.        ]
 [ 0.          0.          0.         ...  0.          0.
  12.72727273]
 ...
 [ 0.          0.          0.         ...  0.          0.
   0.        ]
 [ 0.          4.65116279  1.73010381 ...  0.          9.52380952
  12.72727273]
 [ 0.          0.61538462  0.8        ...  0.         22.22222222
   7.47663551]]


AVERAGE NUMBER OF STUDENTS SUSPENDED IN AN AVERAGE SCHOOL:
 [ 3.579  2.083  0.257  0.172  0.308  0.131  0.071  0.046  4.62   3.849
  5.904  2.861  0.543  0.38  15.283  9.521]


AVERAGE NUMBER OF STUDENTS IN AN AVERAGE SCHOOL:
 [ 84.328  80.791   4.176   3.988  17.532  16.986   1.506   1.43   54.861
  53.448 182.161 172.382   9.875   9.858 354.437 338.883]


AVERAGE PERCENTAGE OF STUDENTS SUSPENDED IN AN AVERAGE SCHOOL:
 [4.2 2.6 6.2 4.3 1.8 0.8 4.7 3.2 8.4 7.2 3.2 1.7 5.5 3.9 4.3 2.8]

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:25: RuntimeWarning: invalid value encountered in true_divide

In [24]:
#ASK FOR USER INPUT
race_sex_breakdown_order = ['Hispanic Male','Hispanic Female','American Indian/Alaska Native Male','American Indian/Alaska Native Female','Asian Male','Asian Female','Native Hawaiian/Pacific Islander Male','Native Hawaiian/Pacific Islander Female','Black Male','Black Female','White Male','White Female','Two or More Races Male','Two or More Races Female','Calculated Male Total','Calculated Female Total']
school_name_part = input('Please Type Some of The Name of Your School:')
your_school = school_data[school_data['SCH_NAME'].str.contains(school_name_part)].index
#ASKING FOR MORE SPECIFICITY
YOUR_SCHOOL = -1
while YOUR_SCHOOL == -1:
    if len(your_school) > 1:
        for t in range(len(your_school)):
            left_aligned = str(t)+': '+str(school_data.SCH_NAME.ix[your_school].values[t])
            center = school_data.LEA_STATE_NAME.ix[your_school].values[t]
            right_aligned = str(school_data.LEA_NAME.ix[your_school].values[t])
            print("{1:<40}{0:^25}{2:>50}".format(center, left_aligned, right_aligned))
        school_select = int(input('Please Type the Number Corresponding to Your School: '))
        left_aligned = str(t)+': '+str(school_data.SCH_NAME.ix[your_school].values[school_select]);
        center = school_data.LEA_STATE_NAME.ix[your_school].values[school_select];
        right_aligned = str(school_data.LEA_NAME.ix[your_school].values[school_select]);
        print("{1:<40}{0:^25}{2:>50}".format(center, left_aligned, right_aligned))
        YOUR_SCHOOL = your_school[school_select]
        print(YOUR_SCHOOL)
        print(school_data['SCH_NAME'].ix[YOUR_SCHOOL])
    elif len(your_school) == 1:
        right_aligned = school_data.LEA_STATE_NAME.ix[your_school].values[0]
        left_aligned = str(school_data.SCH_NAME.ix[your_school].values[0])
        center = ' '
        print("{1:<40}{0:^25}{2:>20}".format(center, left_aligned, right_aligned))
        YOUR_SCHOOL = your_school
    else:
        print('Uh Oh. WE COULD NOT FIND YOUR SCHOOL. PLEASE TRY ANOTHER SEARCH WORD.')
        break
your_percentages = np.round(100*percentages[:,YOUR_SCHOOL],1)
print('\n','\n',"{1:<20}{0:^40}{2:>50}".format('Sex/Race Subgroup','% Suspended', 'Number of Enrolled Students'))
print('-------------------------------------------------------------------------------------------------------------')
for index in range(len(your_percentages)):
    center = race_sex_breakdown_order[index];
    left_aligned = str(float(your_percentages[index]));
    right_aligned = str(float(enrollment[:,YOUR_SCHOOL][index]));
    
    print("{1:<20}{0:^40}{2:>50}".format(center, left_aligned, right_aligned))

Please Type Some of The Name of Your School:CORAL

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:10: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  if sys.path[0] == '':

0: CORAL SPRINGS HIGH SCHOOL                     FLORIDA                                                    BROWARD
1: CITY OF CORAL SPRINGS CHARTER                 FLORIDA                                                    BROWARD
2: CORAL GLADES HIGH SCHOOL                      FLORIDA                                                    BROWARD
3: CORAL GABLES SENIOR HIGH SCHOOL               FLORIDA                                                       DADE
4: MIAMI CORAL PARK SENIOR HIGH                  FLORIDA                                                       DADE
5: CORAL REEF SENIOR HIGH SCHOOL                 FLORIDA                                                       DADE
6: CAPE CORAL HIGH SCHOOL                        FLORIDA                                                        LEE
7: CORAL SHORES HIGH SCHOOL                      FLORIDA                                                     MONROE
8: HOUSTON GATEWAY ACADEMY - CORAL CAMPUS          TEXAS                                 HOUSTON GATEWAY ACADEMY INC
Please Type the Number Corresponding to Your School: 3
8: CORAL GABLES SENIOR HIGH SCHOOL               FLORIDA                                                       DADE
4415
CORAL GABLES SENIOR HIGH SCHOOL


 % Suspended                    Sex/Race Subgroup                                   Number of Enrolled Students
-------------------------------------------------------------------------------------------------------------
0.0                              Hispanic Male                                                          1415.0
0.0                             Hispanic Female                                                         1418.0
0.0                    American Indian/Alaska Native Male                                                  2.0
0.0                   American Indian/Alaska Native Female                                                 0.0
0.0                                Asian Male                                                             11.0
0.0                               Asian Female                                                            23.0
0.0                  Native Hawaiian/Pacific Islander Male                                                 0.0
0.0                 Native Hawaiian/Pacific Islander Female                                                0.0
0.0                                Black Male                                                            134.0
0.0                               Black Female                                                           101.0
0.0                                White Male                                                            161.0
0.0                               White Female                                                           155.0
0.0                          Two or More Races Male                                                        2.0
0.0                         Two or More Races Female                                                       2.0
0.0                          Calculated Male Total                                                      1725.0
0.0                         Calculated Female Total                                                     1699.0

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:16: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  app.launch_new_instance()
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:17: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:21: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

#### Input Parameters:

#### School Expenditure per student:
(school_data.SCH_SAL_TOTPERS_WFED+school_data.SCH_NPE_WFED) / (school_data.TOT_ENR_M + school.data.TOT_ENR_F)

#### Percentage of Population a Particular Racial Group:
(school_data.SCH_ENR_HI_M+school_data.SCH_ENR_HI_F)/(school_data.TOT_ENR_M + school.data.TOT_ENR_F)
(school_data.SCH_ENR_AM_M+school_data.SCH_ENR_AM_F+school_data.SCH_ENR_HP_M+school_data.SCH_ENR_HP_F)/(school_data.TOT_ENR_M + school.data.TOT_ENR_F)
(school_data.SCH_ENR_AS_M+school_data.SCH_ENR_AS_F)/(school_data.TOT_ENR_M + school.data.TOT_ENR_F)
(school_data.SCH_ENR_BL_M+school_data.SCH_ENR_BL_F)/(school_data.TOT_ENR_M + school.data.TOT_ENR_F)
(school_data.SCH_ENR_WH_M+school_data.SCH_ENR_WH_F)/(school_data.TOT_ENR_M + school.data.TOT_ENR_F)
(school_data.SCH_ENR_TR_M+school_data.SCH_ENR_TR_F)/(school_data.TOT_ENR_M + school.data.TOT_ENR_F)

#### Corperal Punishment:
(school_data.SCH_CORPINSTANCES_WODIS+school_data.SCH_CORPINSTANCES_WDIS)/(school_data.TOT_ENR_M + school.data.TOT_ENR_F)

#### School Size
(school_data.TOT_ENR_M + school.data.TOT_ENR_F)

#### Suspensions
SCH_OOSINSTANCES_WODIS+SCH_OOSINSTANCES_IDEA+SCH_OOSINSTANCES_504

#### Expulsions
TOT_DISCWODIS_EXPZT_M+TOT_DISCWODIS_EXPZT_F+SCH_DISCWODIS_EXPZT_LEP_M+SCH_DISCWODIS_EXPZT_LEP_F

#### Counciling Resources


#### Retention
SCH_RET_G12_IND

In [12]:
column = "TOT_RET_G09_M"

print(school_data[column].unique()) # types of values present in the dataset
#print(school_data[column][~school_data[column].isin(nul_vals)]) # non null data preview
print(school_data[school_data[column]==203])

[ -9  18   2  11  15   4   7   0  40  30  16   6  21  10  31  13   8  38
  26   5 104  19  17  25  24  12  42  20  50  33  36  66  32  27  54  14
 190  83  53  35   9  23  63  34  29  46  51 153 139 135 236  55 109 115
  52  56  96  79  41  64  22 111  37  94  60  77  67  76  90 105  57  69
  93  39  71 114 103  65  85  44  72 215  81  45  61  48  43 112  95  80
  88  74  28  62  47  68 102  58  59  73  75 205 137 106 141  49 117  70
 110 113 132 226 152 123  98 145 119  91 142  92 167  86 133  -6  82 100
 128  84 108 134 126 107 121  89 203 138  97 127 387 169 156 218  87 154
 118  99 120 193 210 124 157 140 116]
      LEA_STATE LEA_STATE_NAME    LEAID                      LEA_NAME  SCHID  \
13832        NY       NEW YORK  3620580  NEW YORK CITY PUBLIC SCHOOLS   2014

                     SCH_NAME     COMBOKEY  JJ SCH_GRADE_PS SCH_GRADE_KG  ...  \
13832  JOHN BOWNE HIGH SCHOOL  3.62058e+11  No           No           No  ...

      SCH_FTESERVICES_PSY SCH_FTESERVICES_SOC SCH_JJTYPE SCH_JJSYDAYS  \
13832                 2.0                 1.0         -9           -9

      SCH_JJHOURS SCH_JJPART_LT15 SCH_JJPART_15T30 SCH_JJPART_31T90  \
13832          -9              -9               -9               -9

      SCH_JJPART_91T180 SCH_JJPART_OV180
13832                -9               -9

[1 rows x 1836 columns]

In [13]:
school_input_factors = pd.DataFrame()
school_input_factors['FUNDING_PER_STUDENT']=(school_data.SCH_SAL_TOTPERS_WFED+school_data.SCH_NPE_WFED) / (school_data.TOT_ENR_M + school_data.TOT_ENR_F)
school_input_factors['PERCENT_ENR_HI'] = (school_data.SCH_ENR_HI_M+school_data.SCH_ENR_HI_F)/(school_data.TOT_ENR_M + school_data.TOT_ENR_F)
school_input_factors['PERCENT_ENR_AM'] = (school_data.SCH_ENR_AM_M+school_data.SCH_ENR_AM_F+  school_data.SCH_ENR_HP_M+school_data.SCH_ENR_HP_F)/(school_data.TOT_ENR_M + school_data.TOT_ENR_F)
school_input_factors['PERCENT_ENR_AS'] = (school_data.SCH_ENR_AS_M+school_data.SCH_ENR_AS_F)/(school_data.TOT_ENR_M + school_data.TOT_ENR_F)
school_input_factors['PERCENT_ENR_BL'] = (school_data.SCH_ENR_BL_M+school_data.SCH_ENR_BL_F)/(school_data.TOT_ENR_M + school_data.TOT_ENR_F)
school_input_factors['PERCENT_ENR_WH'] = (school_data.SCH_ENR_WH_M+school_data.SCH_ENR_WH_F)/(school_data.TOT_ENR_M + school_data.TOT_ENR_F)
school_input_factors['PERCENT_ENR_TR'] = (school_data.SCH_ENR_TR_M+school_data.SCH_ENR_TR_F)/(school_data.TOT_ENR_M + school_data.TOT_ENR_F)
school_input_factors['CORP_PUNISH'] = (school_data.SCH_CORPINSTANCES_WODIS+school_data.SCH_CORPINSTANCES_WDIS)/(school_data.TOT_ENR_M + school_data.TOT_ENR_F)
school_input_factors['SCH_SIZE'] = (school_data.TOT_ENR_M + school_data.TOT_ENR_F)
school_input_factors['SUSPENSION'] = (school_data.SCH_OOSINSTANCES_WODIS+school_data.SCH_OOSINSTANCES_IDEA+school_data.SCH_OOSINSTANCES_504)/(school_data.TOT_ENR_M + school_data.TOT_ENR_F)
school_input_factors['EXPULSIONS'] = (school_data.TOT_DISCWODIS_EXPZT_M+school_data.TOT_DISCWODIS_EXPZT_F+school_data.SCH_DISCWODIS_EXPZT_LEP_M+school_data.SCH_DISCWODIS_EXPZT_LEP_F
)/(school_data.TOT_ENR_M + school_data.TOT_ENR_F)
school_input_factors['RETENSION'] = school_data.TOT_RET_G09_M+school_data.TOT_RET_G09_F+school_data.TOT_RET_G10_M+school_data.TOT_RET_G10_F+school_data.TOT_RET_G11_M+school_data.TOT_RET_G11_F+school_data.TOT_RET_G12_M+school_data.TOT_RET_G12_F
school_input_factors.RETENSION[school_input_factors.RETENSION<0] = 0
school_input_factors['CHARTER'] = school_data.SCH_STATUS_CHARTER.eq('Yes').mul(1)
school_input_factors.CORP_PUNISH[school_input_factors.CORP_PUNISH<0] = 0
school_input_factors['ENG_PROF'] = (school_data.TOT_LEPENR_M+school_data.TOT_LEPENR_F)/(school_data.TOT_ENR_M + school_data.TOT_ENR_F)
print(school_input_factors)

       FUNDING_PER_STUDENT  PERCENT_ENR_HI  PERCENT_ENR_AM  PERCENT_ENR_AS  \
0              2552.863436        0.000000        0.015419        0.000000
1              2284.898023        0.371429        0.004633        0.005405
2              7175.930186        0.346939        0.003711        0.007421
3              7004.081330        0.239057        0.006734        0.003367
4              7937.212593        0.008715        0.004357        0.004357
...                    ...             ...             ...             ...
22469         15156.660000        0.000000        0.020000        0.000000
22470          4249.373750        0.227500        0.005000        0.010000
22471        102931.140000        0.140000        0.160000        0.080000
22472          8724.256410        0.102564        0.051282        0.051282
22473          2643.351106        0.000000        1.000000        0.000000

       PERCENT_ENR_BL  PERCENT_ENR_WH  PERCENT_ENR_TR  CORP_PUNISH  SCH_SIZE  \
0            0.610132        0.355727        0.018722     0.000000       908
1            0.030888        0.577606        0.010039     0.000000      1295
2            0.003711        0.630798        0.007421     0.100186       539
3            0.016835        0.734007        0.000000     0.042088       594
4            0.008715        0.969499        0.004357     0.002179       459
...               ...             ...             ...          ...       ...
22469        0.000000        0.940000        0.040000     0.000000       100
22470        0.000000        0.752500        0.005000     0.000000       400
22471        0.000000        0.620000        0.000000     0.000000        50
22472        0.000000        0.794872        0.000000     0.000000        39
22473        0.000000        0.000000        0.000000     0.000000       217

       SUSPENSION  EXPULSIONS  RETENSION  CHARTER  ENG_PROF
0        0.000000         0.0          0        0  0.014317
1        0.033977         0.0         14        0  0.080309
2        0.018553         0.0          0        0  0.068646
3        0.037037         0.0          0        0  0.037037
4        0.008715         0.0         24        0  0.004357
...           ...         ...        ...      ...       ...
22469    0.010000         0.0          0        0  0.000000
22470    0.075000         0.0          0        0  0.010000
22471    0.000000         0.0          0        0  0.000000
22472    1.897436         0.0          0        0  0.051282
22473    0.041475         0.0          0        0  0.000000

[22474 rows x 14 columns]

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
column = "ENG_PROF"

print(school_input_factors[column].unique()) # types of values present in the dataset

[0.01431718 0.08030888 0.06864564 ... 0.01017294 0.02187902 0.040625  ]